@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Righteous&family=Saira:ital@1&display=swap');

.text-white{
    margin-top: 10px;
    margin-bottom: 0;
    color: #0c417d;
}
.book{
    font-weight: bold;
}
body{
    background-color: rgb(235, 235, 235);
}
.navbar{
    background-color: #051b34;
    display: flex;
    flex-wrap: wrap;
}
.list{
margin-left: 60px;
}

a{
    color: rgb(171, 255, 255);
    font-size: 15px;
}
a:hover{
    border-radius: 15px;
    color: green;
}
ul li{
     list-style: none;
}

.navbar-brand{
    color:rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
    font-size: 30px;

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 6, 30);
    font-weight: bold;

}
nav img{
    height: 10vh;
    width: 8vw;
}
a:active{
    color:yellow;
}

.card-body{
    border: 1px solid rgb(4, 0, 128);
    display: flex;
    flex-direction: column;
   align-items: center;
   margin: 10px;
   background:#ffffff;
   padding:5px;
   border-radius: 5px;
   text-align: center;
   line-height: 12px;
}
span{
    color: rgb(216, 0, 0);
    font-style: italic;
}